node_modules

/.cache
/build
/public/build
.env
.idea
.vscode
.cache
.dockerignore
.eslintrc
.gitignore
pnpm-lock.yaml
pnpm-lock.yaml.sha1

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*