.button-location {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
}
.print-content {
  overflow: hidden;
  height: 0;
}
.print-content-title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.antd-style .ant-table-thead > tr > th {
  padding: 7px 5px;
}

.antd-style .ant-table-tbody > tr > td {
  padding: 7px 5px;
}
