@import "./business-table/style.css";
@import "./checkable-tag/style.css";
@import "./inspection-input-section/style.css";
@import "./inspection-measurement/style.css";
@import "./inspection-feedstock/style.css";
@import "./page-print/style.css";
